* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Main */
.main-content {
    display: block;
    width: 100%;
    max-width: 1200px;
    padding-top: 74px;
    margin: 0 auto;
}

.main-container {
    width: 100%;
}

.product-container {
    padding: 0 8px;
}

/* navigation, products wrapper */
.product-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
}



/* Products */
    