.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 30px;
    grid-column-end: 3;
}

.img-wrapper {
    overflow: hidden;
    display: block;
    border-radius: 10px;
}

.product-img {
    display: block;
    border-radius: 10px;
    width: 100%;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.product-img:hover {
    transform: scale(1.1);
}

.product-info {
    cursor: default;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-top: 5px;
    line-height: 18.5px;
}
