.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 30px;
    grid-column-end: 3;
}

.img-wrapper {
    overflow: hidden;
    display: block;
    border-radius: 10px;
}

.product-img {
    display: block;
    border-radius: 10px;
    width: 100%;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.product-img:hover {
    transform: scale(1.1);
}

.product-info {
    cursor: default;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-top: 5px;
    line-height: 18.5px;
}

.product-button {
    font-size: 14px;
    width: 100%;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
    position: relative;    
}
.product-button-link{
    top: 0;
    left: 0;
    position: absolute;
    padding: 7px;
    color: #000 ;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.product-button:hover, .product-button-link:hover {
    background-color: #000;
    color: #fff;
}
